@page
@model ViarengoWebApp.Pages.IndexModel
@{
}
<html>
<body>
    <h1> Cerea </h1>
    <p>Vai alla pagina di <a href=" /risposta">risposta</a></p>
    <form action ="/Risposta" method="get">
        <input type="text" name="nome"/>
        <input type="text" name="cognome" />
        <input type="submit" />
    </form>

</body>
</html>